<section id="content_wrapper">
      <header id="topbar" class="alt">
         <div class="topbar-left">
          <ol class="breadcrumb">
            <li class="crumb-icon">
              <a href="main.html">
                <span class="fa fa-home"></span>
              </a>
            </li>
            <li class="crumb-link">
              <a href="/">Prisplay</a>
            </li>
          </ol>
        </div>
      </header>

      <section id="content" class="table-layout animated fadeIn" align="center">

        <div class="col-sm-4">

          <a href="/printing"><button class="btn btn-primary pull-center ph30" type="submit" >Printing</button></a>


        </div>  
        <div class="col-sm-4">

          <a href="/place_order"><button class="btn btn-primary pull-center ph30" type="submit" >Ads Display</button></a>


        </div>
        <div class="col-sm-4">

          <a href="/contactus"><button class="btn btn-primary pull-center ph30" type="submit" >Contact Us  </button></a>


        </div>  



      </section>
        <div class="col-sm-12" align="center">

          <%=image_tag("billboard.jpg")%>

        </div>